body {
    overflow: hidden;
    margin: 0px;
    font-family: 'IBM Plex Mono';
    background-color: black;
    color: white;
}
.form-control, .form-control:focus, .form-control::placeholder {
    background-color: black;
    color: white;
    border-color: #A9A9A9;
}
.form-control-sm, .form-control-sm:focus {
    background-color: black;
    color: white;
    border-color: #A9A9A9;
}
label {
    color: white;
}
.left-panel {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 20em;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent */
    padding: 1em;
    overflow-y: auto;
    border-right: 2px solid #A9A9A9;
}
#jointsContainer {
    max-height: 70vh; /* 70% of the viewport height */
    overflow-y: auto;
    scrollbar-color: #6c757d #343a40; /* For Firefox */
    scrollbar-width: thin; /* For Firefox */
}

/* Scroll Bar for Joints */
#jointsContainer::-webkit-scrollbar {
    width: 12px;
}
#jointsContainer::-webkit-scrollbar-track {
    background: #343a40;
}
#jointsContainer::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 10px;
    border: 3px solid #343a40;
}

#generateToolingButton {
    padding: 5px 10px;
    margin-top: 20px;
}
