body {
    overflow: hidden;
    margin: 0px;
    font-family: 'IBM Plex Mono';
    background-color: black;
    color: white;
}
.form-control, .form-control:focus, .form-control::placeholder {
    background-color: black;
    color: white;
    border-color: #A9A9A9;
}
.form-control-sm, .form-control-sm:focus {
    background-color: black;
    color: white;
    border-color: #A9A9A9;
}
label {
    color: white;
}
.left-panel {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 20em;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent */
    padding: 1em;
    overflow-y: auto;
    border-right: 2px solid #A9A9A9;
}
#jointsContainer {
    max-height: 50vh; /* 50% of the viewport height */
    overflow-y: auto;
    scrollbar-color: #6c757d #343a40; /* For Firefox */
    scrollbar-width: thin; /* For Firefox */
}

/* RADIO BUTTONS FOR GRID */
#radioButtonsContainer {
    position: absolute;
    bottom: 1em;
    right: 1em;
    background-color: rgba(0, 0, 0, 0); /* Slightly transparent */
    display: flex;
    gap: 0.5em;
    border-radius: .5em;
    align-items: center;
}

.label-text {
    color: rgb(255, 255, 255);
}

.radio-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    cursor: pointer;
    flex: 1;
}

.radio-button input {
    display: none;
}

.radio-button label {
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: .4em .4em;
}

.radio-button input:checked + label {
    border-radius: .5em;
    background-color: rgba(116, 116, 116, 0.7); /* Slightly transparent */
}

input:focus::placeholder {
    color: transparent;
}

#addJointButton {
text-align: center;
background-color: rgb(255, 255, 255);
color: black;
border-color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}