<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OTW Tool Generator</title>
    <meta name="description"
          content="Generate tooling 10x faster with OTW tool generator."/>
    <link rel="stylesheet" href="{{ url_for('static', filename='landingPage.css') }}" id="theme-color">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-43MLJHEVEM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-43MLJHEVEM');
</script>
<body>


<!--navigation-->
<section class="smart-scroll">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand heading-black text-primary" href="{{ url_for('main') }}">
                OTG
            </a>
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span data-feather="grid"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ url_for('help') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll d-flex flex-row align-items-center text-primary" href="{{ url_for('design') }}">Design Now</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<!--hero header-->
<section class="py-7 py-md-0 bg-hero" id="home" style="background-image: url(../static/img/OTWToolGenerator_1.png) !important; background-position: center; background-repeat: no-repeat; background-size: cover; height: 100vh;">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize">Generate tooling for welded tubes fast</h1>
                <p class="lead py-3">The app to design precision fixturing for orbital tube welded (OTW) assemblies 
                    in minutes. Try now in-browser for free.</p>
                <a href="{{ url_for('design') }}" class="btn btn-primary d-inline-flex flex-row align-items-center">
                    Design Now
                    <em class="ml-2" data-feather="arrow-right"></em>
                </a>
            </div>
        </div>
        
    </div>
</section>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
</body>
</html>