{% extends "base.html" %}

{% block title %}Design Now{% endblock %}
{% block description %}Start designing your tooling with our easy-to-use interface.{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='design.css') }}">
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
{% endblock %}

{% block content %}
<div class="container-fluid content-container">
    <div class="left-panel">
        <div class="mb-4">
            <form>
                <label for="fileUpload" class="small form-label font-weight">Upload tube Assembly (.stl, 50mb max):</label>
                <input class="form-control form-control-sm" id="fileUpload" type="file" accept=".stl">
            </form>
        </div>
        <form id="jointsForm" method="post" action="{{ url_for('views.process_joints') }}" class="small">
            <div id="jointsContainer" class="pt-2">
            </div> 
            <input type="hidden" id="jointCount" name="jointCount" value="1">  
            
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-success btn-sm" id="addJointButton">Add Joint</button>
                <button type="button" class="btn btn-sm ms-2" id="removeJointButton">Remove</button>
            </div>
            <!-- Parameters section -->
            <div class="border rounded mb-3 p-2 mt-4" style="border-color: #A9A9A9; position: relative;">
                <small class="font-weight-bold" style="position: absolute; top: -10px; left: 10px; background: black; padding: 0 5px;">Parameters</small>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-center align-items-center mt-3">
                        <label for="toleranceSlider" class="me-2">Tab+Slot Tolerance</label>
                        <input type="range" class="form-range" id="toleranceSlider" min="0.0" max="1" step="0.05" value="0.25">
                        <input type="text" class="form-control form-control-sm ms-2 small" id="toleranceValue" name="toleranceValue" value="0.25" style="width: 60px;">
                        <span class="small ms-2">[mm]</span>
                    </div>
                    <div class="d-flex justify-content-center align-items-center mt-3">
                        <label for="thicknessSlider" class="me-2">Material Thickness</label>
                        <input type="range" class="form-range" id="thicknessSlider" min="1" max="25.4" step=".1" value="12.70">
                        <input type="text" class="form-control form-control-sm ms-2 small" id="thicknessValue" name="thicknessValue" value="12.70" style="width: 60px;">
                        <span class="small ms-2">[mm]</span>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-success btn-sm" id="generateToolingButton">Generate Tooling</button>
            </div>
        </form>
        <div class="d-flex justify-content-center mt-1 align-bottom">
            <button type="button" class="btn btn-info btn-sm" id="exportButton">Export as ZIP</button>
        </div>
        


        <div id="errorContainer" class="d-flex text-danger justify-content-center mt-3">
        </div>
        
    </div>
    <div class="right-container">
        <div id="threejsDisplay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: black;">
            <div id="viewer" style="width: 100%; height: 100%;"></div>
        </div>
    </div>
</div>


<div id="loadingMessage">Loading...</div>

<div id="radioButtonsContainer" class="d-flex align-items-center">
    <button type="button" id="clearSceneButton" class="btn btn-danger btn-sm me-3">Clear</button>
    <span class="label-text">Grid:</span>
    <div class="radio-button ms-2">
        <input type="radio" id="spacing50" name="gridSpacing" value="50">
        <label for="spacing50">50mm</label>
    </div>
    <div class="radio-button ms-2">
        <input type="radio" id="spacing100" name="gridSpacing" value="100" checked>
        <label for="spacing100">100mm</label>
    </div>
    <div class="radio-button ms-2">
        <input type="radio" id="spacing200" name="gridSpacing" value="200">
        <label for="spacing200">200mm</label>
    </div>
</div>




{% endblock %}

{% block scripts %}
    
{% endblock %}

