{% extends "base.html" %}

{% block head %}
<style>
    body {
        margin: 0;
        background-color: rgb(22, 22, 22);
        color: rgb(255, 255, 255);
        padding-top: 56px; /* Height of the fixed navbar */
    }
    html {
        overflow-y: scroll;
    }
    
    .content-section {
        max-width: 50em;
        margin: 0 auto;
        margin-top: 3em;
    }
    .table-container {
        overflow-x: auto;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1em;
    }
    table, th, td {
        border: 1px solid rgb(255, 255, 255);
        padding: 0.5em;
    }
    th, td {
        text-align: center;
    }


    footer {
            background-color: transparent;
            color: white;
            font-size: 0.8em;
    }


</style>
{% endblock %}

{% block content %}
<main class="container">
    <div class="content-section">
        <h1 class="mb-4 text-center">About</h1>
        <p>
            <strong>OTW Tool Generator</strong> (OTG) streamlines the tooling design process for welded tube assemblies. OTG runs entirely in the browser with no downloads.
        </p>
        <p>
            Rapidly produce production-ready STEP files with tab+slot features, adjustable tolerancing, and material thickness. Simply select the location of each end point and press go.
        </p>
        <p>
            If you have feedback, feature requests, or need help please reach out to <a href="mailto:otwtoolgenerator@gmail.com">otwtoolgenerator@gmail.com</a>.
        </p>


    </div>

    <div class="content-section" id="step1">
        <h4>User Interface Diagram</h4>
        <img src="{{ url_for('static', filename='assets/diagram.png') }}" alt="Part above workbench" style="width: 100%; height: auto;">
    </div>

    
    <div class="content-section" id="workflow-example">
        <h2>Example</h2>
        <p>This tutorial walks through how to use OTG with a simple 1/2” flared tubing assembly, containing a welded tee.</p>
    </div>

    <div class="content-section" id="step1">
        <h4>1. Load Assembly</h4>
        <p>First, the tubing assembly is uploaded by selecting the "Choose File" button at the top left of the screen. OTG accepts .STL files only. Note that the XY plane represents the workbench or tabletop for the tooling. The Z axis should point upwards, opposite the gravity vector. The assembly should be positioned in your CAD software prior to uploading to OTG.</p>
        <img src="{{ url_for('static', filename='assets/assembly_above_workbench.png') }}" alt="Part above workbench" style="width: 100%; height: auto;">
    </div>

    <div class="content-section" id="step2">
        <h4>2. Selecting Joints</h4>
        <p><span style="color: #00c062;">Joints</span> are end points of the tubing assembly that need to be constrained. Each joint consists of a location, pointing vector, and joint type.</p>
        <p>The joint location and vector can be easily selected by pressing "Select Location" and then selecting the edge on the assembly that you wish to place a joint at. OTG will automatically extract the location and pointing vector and fill in the form fields. Alternatively, joint data can be entered in millimeters into the input boxes.</p>
        <p>After selecting a joint location, a green vector arrow will appear. The vector arrow points in the direction that the tooling will be extruded. The arrow should face away from the face you have selected for your joint to prevent interferences between the tool and your tubing assembly. The joint vector can be easily rotated 180 degrees by pressing the double arrow button next to the vector input row.</p>
        <img src="{{ url_for('static', filename='assets/joint_selection.png') }}" alt="Joint selection" style="width: 100%; height: auto;">
    </div>
    
    <div class="content-section" id="step3">
        <h4>3. Input Data</h4>
        <p>Fill out the form data for each joint. OTG supports flared joints, flanged joints, midspan supports, or regular through-holes. Note that each joint on the left panel cooresponds to a joint on the tubing assembly. The location and vector data is automatically filled in when you select an edge for each joint!</p>
        <img src="{{ url_for('static', filename='assets/joint_data_webpage.png') }}" alt="Joint data in the webpage" style="width: 100%; height: auto;">
    </div>
    

    <div class="content-section" id="step4">
        <h4>4. Configure Parameters</h4>
        <p>Configure the “tab+slot clearance” and “material thickness” parameters. Tab+slot clearance defines the gap in millimeters all around the material tabs. This can help to ensure waterjet and/or 3D printed assemblies fit together. The default value is 0.25mm.</p>
        <img src="{{ url_for('static', filename='assets/tolerance.png') }}" alt="Joint selection" style="width: 100%; height: auto;">
    
    </div>

    <div class="content-section" id="step5">
        <h4>5. Generate Tooling and Export</h4>
        <p>Press “Generate Tooling” to produce the production-ready tooling part files. If you are happy with the result, press "Export" to download the tooling part files, or, continue editing and export later. The part files can be sent directly to a manufacturing house to be waterjet or laser-cut. Due to the tab+slot geometry, welding out the final assembly is easy.</p>
        <img src="{{ url_for('static', filename='assets/final_assembly.png') }}" alt="Final assembly" style="width: 100%; height: auto;">
    </div>

    <div class="content-section" id="whats-next">
         <p>This demo showed some of the features of the OTG software- but it can do so much more! Reach out to <span style="color: #00c062;">OTWToolGenerator@gmail.com</span> with any questions or to discuss how we can accelerate your business. We are here to help.</p>
    </div>


    <div class="content-section" id="step1" >
        <h4>Joint Types</h4>
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='assets/jointTypes/flanged.png') }}" class="d-block w-100" alt="Joint 1">
                                
                <div class="carousel-caption d-none d-md-block">
                <h5>Flanged</h5>
                <p>Custom flanged joints can be input with varying bolt diameter, #bolts, and clocking. </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='assets/jointTypes/flared.png') }}" class="d-block w-100" alt="Joint 2">
                        
                <div class="carousel-caption d-none d-md-block">
                <h5>Flared / Hole</h5>
                <p>Input custom hole diameters or use our pre-defined through-wall diameters for standard flared fittings.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='assets/jointTypes/midspan.png') }}" class="d-block w-100" alt="Joint 3">
                <div class="carousel-caption d-none d-md-block">
                <h5>Midspan Support</h5>
                <p>Define additional constraints for midpoints in your assemnbly using midspan supports.</p>
                </div>
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>



</main>

<footer class="text-center mt-4 py-3">
    <div class="container d-flex justify-content-between">
        <p class="mb-0">&copy; OTG 2024</p>
        <p class="mb-0">
            <a href="{{ url_for('views.terms_of_service') }}" style="color: white; text-decoration: none;">Terms & Conditions</a> |
            <a href="{{ url_for('views.privacy') }}" style="color: white; text-decoration: none;">Privacy Policy</a>
        </p>
        <p class="mb-0">Contact: <a href="mailto:OTWToolGenerator@Gmail.com" style="color: white; text-decoration: none;">OTWToolGenerator@Gmail.com</a></p>
    </div>
</footer>



{% endblock %}
