{% extends "base.html" %}

{% block head %}
<style>
    body {
        margin: 0;
        background-color: rgb(22, 22, 22);
        color: rgb(255, 255, 255);
        padding-top: 56px; /* Height of the fixed navbar */
    }
    html {
        overflow-y: scroll;
    }
    
    .content-section {
        max-width: 50em;
        margin: 0 auto;
        margin-top: 3em;
    }
    .table-container {
        overflow-x: auto;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1em;
    }
    table, th, td {
        border: 1px solid rgb(255, 255, 255);
        padding: 0.5em;
    }
    th, td {
        text-align: center;
    }


    footer {
            background-color: transparent;
            color: white;
            font-size: 0.8em;
    }


</style>
{% endblock %}

{% block content %}
<main class="container">
    <div class="content-section">
        <h1 class="mb-4 text-center">About</h1>
        <p>
            <strong>OTW Tool Generator</strong> (OTG) streamlines the tooling design process for for welded tube assemblies.
        </p>
        <p>
            Rapidly produce production-ready STEP files with tab+slot features, adjustable tolerancing, and material thickness. Simply input the location and vector of each end point and press go.
        </p>
        <p>
            Thank you for using OTW Tool Generator during its development. If you have feedback, feature requests, or need help please reach out to <a href="mailto:otwtoolgenerator@gmail.com">otwtoolgenerator@gmail.com</a>.
        </p>


    </div>

    <div class="content-section" id="step1">
        <h4>User Interface Diagram</h4>
        <img src="{{ url_for('static', filename='assets/diagram.png') }}" alt="Part above workbench" style="width: 100%; height: auto;">
    </div>


    <div class="content-section" id="workflow-example">
        <h2>Example</h2>
        <p>This tutorial walks through how to use OTG with a simple ¼” flared tubing assembly, containing a welded tee.</p>
    </div>

    <div class="content-section" id="step1">
        <h4>1. Position Assembly</h4>
        <p>From your CAD software, position the OTW assembly above the XY plane. The XY plane represents the workbench or tabletop for the tooling. The Z axis should point upwards, opposite the gravity vector.</p>
        <img src="{{ url_for('static', filename='assets/assembly_above_workbench.png') }}" alt="Part above workbench" style="width: 100%; height: auto;">
    </div>

    <div class="content-section" id="step2">
        <h4>2. Selecting Joints</h4>
        <p><span style="color: #00c062;">Joints</span> are end points of the tubing assembly that need to be constrained. Each joint consists of a location, pointing vector, and joint type.</p>
        <p>The joint location and vector can be easily selected by pressing "Select Location" and then selecting the edge on the assembly that you wish to place a joint at. Alternatively, joint data can be entered in millimeters into the input boxes.</p>
        <p>After selecting a joint location, a green vector arrow will appear. The vector arrow points in the direction that the tooling will be extruded. The arrow should face away from the face you have selected for your joint to prevent interferences between the tool and your tubing assembly. The joint vector can be easily rotated 180 degrees by pressing the double arrow button next to the vector input row.</p>
        <img src="{{ url_for('static', filename='assets/joint_selection.png') }}" alt="Joint selection" style="width: 100%; height: auto;">
        <p>The joint data for this sample assembly is shown in the table below:</p>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Joint #</th>
                        <th>Location (X,Y,Z) [mm]</th>
                        <th>Vector (X,Y,Z)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>97.625, -72.098, 160.000</td>
                        <td>0, -1, 0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>-97.625, -72.098, 160.000</td>
                        <td>0, -1, 0</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>-35.569, 150.354, 126.050</td>
                        <td>-7.519, 11.146, -7.176</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="content-section" id="step3">
        <h4>3. Input Data</h4>
        <p>Fill out the form data for each joint. Flared joints can be selected of flanged connection with adjustable bolt patterns. Note that each joint on the left panel cooresponds to a joint on the tubing assembly. Loading of the tubing assembly is not required to use the tool but is highly recommended. Loading the tubing assembly allows for inputting joint location and vector data simply by selecting edge on the assembly., input the joint location and vector data from above. Additionally, the exported .stl file of the assembly can be loaded for visualization; however, this is optional.</p>
        <img src="{{ url_for('static', filename='assets/joint_data_webpage.png') }}" alt="Joint data in the webpage" style="width: 100%; height: auto;">
    </div>
    

    <div class="content-section" id="step4">
        <h4>4. Configure Parameters</h4>
        <p>Configure the “tab+slot clearance” and “material thickness” parameters. Tab+slot clearance defines the gap in millimeters all around the material tabs. This can help to ensure waterjet and/or 3D printed assemblies fit together. The default value is 0.25mm.</p>
    </div>

    <div class="content-section" id="step5">
        <h4>5. Generate Tooling and Export</h4>
        <p>Press “Generate Tooling” to produce the production-ready tooling part files. If you are happy with the result, press "Export" to download the tooling part files to your local computer.</p>
        <img src="{{ url_for('static', filename='assets/final_assembly.png') }}" alt="Final assembly" style="width: 100%; height: auto;">
    </div>

    <div class="content-section" id="whats-next">
        <h2>What’s Next?</h2>
        <p>After generating the part files, you can send them directly to a manufacturing house to be waterjet or laser-cut. Additionally, you can import the parts into your CAD software and assign them part numbers for tracking in your own part modeling environment. Due to the tab+slot geometry, welding out the final assembly is easy.</p>
        <p>Reach out to <span style="color: #00c062;">OTWToolGenerator@gmail.com</span> with any questions! We are here to help.</p>
    
    </div>
</main>

<footer class="text-center mt-4 py-3">
    <div class="container d-flex justify-content-between">
        <p class="mb-0">&copy; OTG 2024</p>
        <p class="mb-0">
            <a href="{{ url_for('views.terms_of_service') }}" style="color: white; text-decoration: none;">Terms & Conditions</a> |
            <a href="{{ url_for('views.privacy') }}" style="color: white; text-decoration: none;">Privacy Policy</a>
        </p>
        <p class="mb-0">Contact: <a href="mailto:OTWToolGenerator@Gmail.com" style="color: white; text-decoration: none;">OTWToolGenerator@Gmail.com</a></p>
    </div>
</footer>



{% endblock %}
