{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title">Please verify your email</h1>
                <p class="card-text">
                    An email was sent to {{ session['user_email'] }}. Please click the link in the message to verify. The re-sign back in. 
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
