/* Import font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');

:root {
    --green: #00c062;
    --dark: #000000;
    --light: #A9A9A9;
  }

.navbar, .navbar-dark, .nav, .navbar-brand {
    background-color: #000000 !important;
    font-family: 'IBM Plex Mono', monospace;
}

.navbar {
    border-bottom: 2px solid #A9A9A9;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

.nav-item {
    padding-left: 1.5rem; /* Adjust the value as needed for desired spacing */
}

body {
    font-family: 'IBM Plex Mono', monospace !important;
    background-color: #000000;
}

/* Custom button styling */
.btn-custom {
    color: white;
    border: 2px solid white;
    border-radius: 1em;
    background-color: transparent;
    padding: 0.5em 1em;
    transition: background-color 0.4s ease, color 0.4s ease;
    transition: border-color 0.4s ease, color 0.4s ease;
    text-decoration: none;
    
}

#signupButton {
    border: 2px solid var(--green);
    border-radius: 1em;
    color: white;
    background-color: transparent;
}

.btn-custom:hover, #signupButton:hover  {
    background-color: var(--green);
    border: 2px solid;
    border-color: var(--green);
}

.navbar-logo {
    height: 70px;
    transition: filter 0.2s ease; /* Smooth transition effect */
}

.user-info {
    text-align: left;
}

.premium-status {
    font-size: 0.8rem; /* Smaller font size for Premium tag */
    color: gold;      /* Gold color for Premium tag */
}

.user-info a {
    color: var(--green);
    text-decoration: none;
}

.user-info a:hover {
    color: #00a854; /* Slightly darker green */
}

.btn-success {
    background-color: var(--green) !important;
}


/* Style the dropdown menu background and text color */
.navbar .dropdown-menu {
    background-color: #000000; /* Black background */
    border-color: #A9A9A9; /* Optional: Border color to match navbar */
}

/* Style the dropdown items text color */
.navbar .dropdown-menu .dropdown-item {
    color: #ffffff; /* White text */
}

/* Style the dropdown items text color on hover */
.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item:focus {
    background-color: var(--green); /* Green background on hover */
    color: #ffffff; /* White text on hover */
}
